<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> -->
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

    body {
      font-family: Montserrat;
    }

    .layui-layout-admin .layui-logo {
      color: white;
    }

    .layui-layout-admin .layui-header {
      background-color: lightgray;
    }

    .layui-nav {
      background-color: gray;
    }

    .layui-btn {
      background-color: burlywood;
      border-radius: 5px;
    }

    .layui-logo {
      font-weight: 900;
    }
    .layui-nav-tree .layui-nav-bar {

  background-color: burlywood;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
  background-color: burlywood;
  color: #fff;
}

    .alert {
      position: relative;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: .25rem
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: .75rem 1.25rem;
      color: inherit
    }

    .alert-warning {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba
    }

    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5
    }

    .close:focus,
    .close:hover {
      color: #000;
      text-decoration: none;
      opacity: .75
    }

    .close:not(:disabled):not(.disabled) {
      cursor: pointer
    }

    button.close {
      padding: 0;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none
    }

    .close {
      padding: 1rem;
      margin: -1rem -1rem -1rem auto
    }

    .alert-dismissible .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: .75rem 1.25rem;
      color: inherit
    }
  </style>
  {% block head %}{% endblock %}
  <style>
    {
      % block style %
    }

      {
      % endblock %
    }
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <a href="{{ url_for('index') }}">
        <div class="layui-logo">Library System</div>
      </a>
    </div>
    <div class="layui-side layui-bg-transparent">
      <div class="layui-side-scroll">
        <!-- Left navigation area (can be combined with the existing vertical navigation of layui) -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item">
            <a href="{{ url_for('storage') }}">Storage Management</a>
          </li>
          <li class="layui-nav-item">
            <a href="{{ url_for('borrow') }}">Borrow Book</a>
          </li>
          <li class="layui-nav-item">
            <a href="{{ url_for('return_book') }}">Return Book</a>
          </li>
          <li class="layui-nav-item">
            <a href="{{ url_for('search_book') }}">Books</a>
          </li>
          <li class="layui-nav-item">
            <a href="{{ url_for('search_student') }}">Students</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="layui-body">
      <!-- Main content area -->
      <div class="layui-card layui-row layui-col-space10" style="margin:15px 10px;width:100%;">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
        {% block card %}{% endblock %}
        <div class="layui-card-body">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script src="../static/layui/layui.js"></script>
  <script>

    layui.use('element', function () {
      var element = layui.element;
      element.init();


    });
  </script>

  {% block script %}

  {% endblock %}

</body>

</html>