{% extends "base.html" %}
{% block title %}Administrator Information Settings{% endblock %}

{% block body %}
<fieldset class="layui-elem-field layui-field-title">
    <legend>Edit Personal Information</legend>
  <div class="layui-field-box" style="font-size: medium;line-height: 30px;">
      <br />
      <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">Account:</label>
            <div class="layui-input-block">
                <input type="text" value="{{ id }}" readonly="readonly" class="layui-input" style="width:40%">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">{{ form.name.label }}:</label>
            <div class="layui-input-block">
                {{ form.name(class="layui-input", style="width:40%") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">Permission:</label>
            <div class="layui-input-block">
                <input type="text" value="{{ right }}" readonly="readonly" class="layui-input" style="width:40%">
                <span style="font-size:16px;font-style: italic;color:#BFBFBF">Account and permission cannot be modified. Please contact the system administrator if you need to make changes.</span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:180px">
                <div class="layui-input-inline login-btn">
                    {{ form.submit(class="layui-btn") }}
                </div>
            </div>
        </div>
    </form>
    
  </div>
</fieldset>
{% endblock %}