{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
{% endblock %}

{% block body %}
<div id="main" style="width: 900px;height:470px;"></div>

{% endblock %}
{% block script %}
<script>
    var a = echarts;
    var myChart = a.init(document.getElementById('main'));
    // Display title, legend, and empty coordinate axes
    myChart.setOption({
        title: {
            text: 'Summary of Borrowing and Returning Books in the Past 10 Days'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['Today\'s Data']
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] }
                // restore : {show: true},
                // saveAsImage : {show: true}
            }
        },
        calculable: true,

        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: []
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: 'Maximum Quantity',
                type: 'line',
                data: [],
                markPoint: {
                    data: [
                        { type: 'max', name: 'Maximum' },
                        { type: 'min', name: 'Minimum' }
                    ]
                },
                markLine: {
                    data: [
                        { type: 'average', name: 'Average' }
                    ]
                }
            }
        ]

    });
    myChart.showLoading();    // Show a simple loading animation before the data is loaded
    var names = [];    // Array to hold the X-axis coordinate values (names)
    var nums = [];    // Array to hold the Y-axis coordinate values (quantities)

    $.ajax({
        type: "get",
        // async: true, // Asynchronous request (synchronous requests will lock the browser, and other operations by the user must wait for the request to complete before they can be executed)
        url: "{{ url_for('echarts') }}",    // URL for the request
        dataType: "json",        // The returned data format is JSON
        success: function (data) {
            // This function is executed when the request is successful. 'data' is the JSON object returned by the server
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    names.push(data[i]["name"]);    // Retrieve each name and add it to the names array
                    nums.push(data[i]["num"]);    // Retrieve each quantity and add it to the nums array
                }
                myChart.hideLoading();    // Hide the loading animation
                myChart.setOption({        // Load the data into the chart
                    xAxis: {
                        data: names
                    },
                    series: [{
                        // Map the name to the corresponding series
                        name: 'Quantity',
                        data: nums
                    }]
                });
            }
        },
        error: function (errorMsg) {
            // This function is executed when the request fails
            alert("Failed to request chart data!");
            myChart.hideLoading();
        }
    });

</script>

{% endblock %}