{% extends "base-user.html" %}
{% block title %}Library System{% endblock %}

{% block body %}

<div class="login-main">
    <header class="layui-elip">Login</header>
    <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-input-inline">
            {{ form.account(class="layui-input",placeholder="Username") }}
        </div>
        <div class="layui-input-inline">
            {{ form.password(class="layui-input",placeholder="Password") }}
        </div>
        <div class="layui-input-inline login-btn">
            {{ form.submit(class="layui-btn") }}
        </div>
        <hr />
    </form>
</div>
<style>
    .layui-btn {
        background-color: burlywood;
        border-radius: 5px;
    }

    body {
        font-family: Montserrat;
    }
</style>
{% endblock %}