{% extends 'base.html' %}
# Display the title "Inventory Management"
{% block title %}Inventory Management{% endblock %}

{% block card %}
    <div class="layui-card-header">
        <h2>Stock Replenishment</h2>
        <button class="layui-btn layui-btn-lg" style="float:right;margin-top:-50px;margin-right:40px;" id="newbook">
            <i class="layui-icon">&#xe608;</i>Register New Book
        </button>
    </div>
{% endblock %}

{% block body %}
    <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-form-item" style="height: 50px;margin-top: 30px;">
            <label class="layui-form-label" style="font-size: medium">Book Code：</label>
            <div class="layui-input-block">
                {{ form.barcode(class="layui-input", style="width:40%") }}
            </div>
        </div>
        <div class="layui-form-item" style="height: 50px;">
            <label class="layui-form-label" style="font-size: medium">ISBN：</label>
            <div class="layui-input-block">
                {{ form.isbn(class="layui-input", style="width:40%") }}
            </div>
        </div>
        <div class="layui-form-item" style="height: 50px;">
            <label class="layui-form-label" style="font-size: medium">Location：</label>
            <div class="layui-input-block">
                {{ form.location(class="layui-input", style="width:40%") }}
            </div>
        </div>
        <div class="layui-form-item" style="height: 50px;">
            <div class="layui-input-block">
                {{ form.submit(class="layui-btn", style="width:100px;font-size:medium") }}
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
<script type="text/javascript">
    layui.use(['form','jquery'], function () {
        var form = layui.form;
        var $ = layui.$;

    });
    $(document).ready(function(){
        $("#newbook").on('click',function () {
            window.location.href="{{ url_for('new_store') }}";
        })
    });
    
</script>
{% endblock %}