{% extends "base-user.html" %}
{% block title %}Search Student Information{% endblock %}

{% block body %}
<div style="width: 1200px;margin: auto">
    <br />
    <form class="layui-form" method="post" id="searchForm">
        <!--{{ form.csrf_token }}-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <label style="font-size: medium;width: 180px;" class="layui-form-label">Please enter the student
                            borrowing card number:</label>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-input-inline">
                            {{ form.card(class="layui-input", id="card") }}
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="layui-input-inline">{{ form.submit(class="layui-btn", id="search") }}</div>

                    </div>
                </div>
            </div>

        </div>
    </form>
    <div id="info">
        <p>
            <span>Name: <span id="name"></span></span>
            <span style="margin-left: 140px;">Gender: <span id="gender"></span></span>
            <span style="margin-left: 120px;">Valid until: <span id="valid_date"></span></span>
            <span style="margin-left: 140px;">Is in debt: <span id="debt"></span></span>
        </p>
    </div>
    <div id="remove">
        <table lay-even id="result" lay-filter="re">
            <thead>
                <tr>
                    <th lay-data="{field:'barcode', width:160}">Book Code</th>
                    <th lay-data="{field:'book_name', width:200}">Book Name</th>
                    <th lay-data="{field:'author', width:140}">Author</th>
                    <th lay-data="{field:'start_date', width:200}">Start Date</th>
                    <th lay-data="{field:'due_date', width:200}">Due Date</th>
                    <th lay-data="{field:'end_date'}">Return Date</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <table id="test" lay-filter="test"></table>
</div>
{% endblock %}

{% block script %}
<script>
    layui.use(['form', 'table', 'jquery'], function () {
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;

        table.init('re', {
            height: 390
            , limit: 7
            , page: true
        });

        $(document).ready(function () {
            $('#search').on('click', function () {
                var form = new FormData(document.getElementById("searchForm"));
                if ($('#card').val() === "") {
                    layui.use('layer', function () {
                        var layer = layui.layer;

                        layer.msg('Please fill in the search content', { time: 800 });
                    });
                }
                else {
                    $.ajax({
                        url: "{{ url_for('find_student') }}",
                        type: "post",
                        data: form,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            $("#name").empty();
                            $("#gender").empty();
                            $("#valid_date").empty();
                            $("#debt").empty();
                            if (data.length !== 0) {
                                $("#name").append(data[0].name);
                                $("#gender").append(data[0].gender);
                                $("#valid_date").append(data[0].valid_date);
                                if (data[0].debt === false) {
                                    $("#debt").append('No');
                                }
                                else {
                                    $("#debt").append('Yes');
                                }

                                $.ajax({
                                    url: "{{ url_for('find_record') }}",
                                    type: "post",
                                    data: form,
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        if (data.length !== 0) {
                                            $('#remove').remove();
                                            table.render({
                                                elem: '#test'
                                                , data: data
                                                , cols: [[
                                                    { field: 'barcode', title: 'Book Barcode', width: 160 }
                                                    , { field: 'book_name', title: 'Book Title', width: 200 }
                                                    , { field: 'author', title: 'Author', width: 140 }
                                                    , { field: 'start_date', title: 'Start Date', width: 200 }
                                                    , { field: 'due_date', title: 'Due Date', width: 200 }
                                                    , { field: 'end_date', title: 'Return Date' }
                                                ]]
                                                , page: true
                                                , height: 390
                                                , limit: 7
                                                , response: {
                                                    statusCode: 200 //Redefine the success status code as 200, the default for the table component is 0
                                                }
                                                , parseData: function (data) { //Parse the raw data into the format required by the table component
                                                    return {
                                                        "code": data.status, //Parse the interface status
                                                        "msg": data.message, //Parse the prompt text
                                                        "count": data.total, //Parse the length of the data
                                                        "data": data.rows.item //Parse the data list
                                                    };
                                                }
                                            });
                                        }
                                        else {
                                            layui.use('layer', function () {
                                                var layer = layui.layer;


                                                layer.msg('No borrowing records', { time: 1000 });
                                            });
                                        }
                                    }
                                });

                            }
                            else {
                                layui.use('layer', function () {
                                    var layer = layui.layer;

                                    layer.msg('Student not found!', { time: 1000 });
                                });
                            }
                        }
                    });

                }
                return false;
            });
        });
    });
</script>
{% endblock %}