{% extends "base-user.html" %}
{% block title %}Search Book Information{% endblock %}


{% block body %}
<div style="width: 1200px;margin: auto">
    <br />
    <form class="layui-form" method="post" id="searchForm">
        {{ form.csrf_token }}
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        {{ form.method(class="layui-input-inline") }}
                    </div>
                    <div class="layui-col-md6">
                        <label class="layui-form-label">Search Content:</label>
                        <div class="layui-input-inline">
                            {{ form.content(class="layui-input",style="width:250px") }}
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <div class="layui-input-inline">{{ form.submit(class="layui-btn", id="search") }}</div>

                    </div>
                </div>
            </div>

        </div>
    </form>

    <div id="remove">
        <table lay-even id="result" lay-filter="re">
            <thead>
                <tr>
                    <th lay-data="{field:'isbn', width:140}">ISBN</th>
                    <th lay-data="{field:'book_name', width:200}">Title</th>
                    <th lay-data="{field:'press', width:180}">Publisher</th>
                    <th lay-data="{field:'author', width:140}">Author</th>
                    <th lay-data="{field:'class_name', width:200}">Category</th>
                    <th lay-data="{field:'count', width:120}">Total Copies</th>
                    <th lay-data="{field:'available'}">Available Copies</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <table id="test" lay-filter="test"></table>
</div>
{% endblock %}

{% block script %}
<script>
    layui.use(['form', 'table', 'jquery'], function () {
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;

        table.init('re', {
            height: 390
            , limit: 7
            , page: true
        });

        $(document).ready(function () {
            $('#search').on('click', function () {
                var form = new FormData(document.getElementById("searchForm"));
                if ($('#content').val() === "") {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg('Please enter search content', { time: 800 });
                    });
                }
                else {
                    $.ajax({
                        url: "{{ url_for('find_book') }}",
                        type: "post",
                        data: form,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.length !== 0) {
                                $('#remove').remove();
                                table.render({
                                    elem: '#test',
                                    data: data,
                                    cols: [[
                                        { field: 'isbn', title: 'ISBN', width: 140 },
                                        { field: 'book_name', title: 'Book Name', width: 200 },
                                        { field: 'press', title: 'Publisher', width: 180 },
                                        { field: 'author', title: 'Author', width: 140 },
                                        { field: 'class_name', title: 'Category', width: 200 },
                                        { field: 'count', title: 'Total Copies', width: 120 },
                                        { field: 'available', title: 'Available Copies' }
                                    ]],
                                    page: true,
                                    height: 390,
                                    limit: 7,
                                    response: {
                                        statusCode: 200 // Redefine the success status code as 200, the default for the table component is 0
                                    },
                                    parseData: function (data) { // Parse the raw data into the format expected by the table component
                                        return {
                                            "code": data.status, // Parse the interface status
                                            "msg": data.message, // Parse the prompt text
                                            "count": data.total, // Parse the data length
                                            "data": data.rows.item // Parse the data list
                                        };
                                    }
                                });
                            } else {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg('No results found', { time: 1000 });
                                });
                            }
                        }
                    });
                }
                return false;
            })
        });

    });
</script>
{% endblock %}