{% extends 'base.html' %}
{% block title %}Personal Information{% endblock %}

{% block body %}

<fieldset class="layui-elem-field layui-field-title">
  <legend>Personal Information</legend>
  <div class="layui-field-box" style="font-size: large;line-height: 40px;">
      <div class="layui-row">
          &nbsp;&nbsp;<i class="layui-icon">&#xe857;</i>&nbsp;&nbsp;&nbsp;Account:&nbsp;&nbsp;{{ user.admin_id }}
      </div>
      <div class="layui-row">
          &nbsp;&nbsp;<i class="layui-icon">&#xe66f;</i>&nbsp;&nbsp;&nbsp;Username:&nbsp;&nbsp;{{ user.admin_name }}
      </div>
      <div class="layui-row">
          &nbsp;<i class="layui-icon">&#xe672;&nbsp;</i>Permissions:&nbsp;{{ user.right }}
      </div>
  </div>
</fieldset>
{% endblock %}